@import 'leaflet/dist/leaflet.css';

.marker-cluster-small {
	background-color: #e6f3fb;
	color: #fff;
}

.marker-cluster-small div {
	font-family: 'Roboto Latin', sans-serif;
	font-weight: bold;
	background-color: #4580c4;
}

.marker-cluster-medium {
	background-color: #4580c4;
	color: #fff;
}

.marker-cluster-medium div {
	font-family: 'Roboto Latin', sans-serif;
	font-weight: bold;
	background-color: #315292;
}

.marker-cluster-large {
	background-color: #315292;
	color: #fff;
}

.marker-cluster-large div {
	font-family: 'Roboto Latin', sans-serif;
	font-weight: bold;
	background-color: #0d0c1d;
}