@import 'leaflet/dist/leaflet.css';

.marker-cluster-small {
	background-image: linear-gradient(to right, #3e73b0, #315292);
	color: #fff;
}

.marker-cluster-small div {
	font-family: 'Roboto Latin', sans-serif;
	font-weight: bold;
	font-size: medium;
	background-image: linear-gradient(to right, #3e73b0, #315292);
}

.marker-cluster-medium {
	background-image: linear-gradient(to right, #315292, #0d0c1d);
	background-color: #315292;
	color: #fff;
}

.marker-cluster-medium div {
	font-family: 'Roboto Latin', sans-serif;
	font-weight: bold;
	background-image: linear-gradient(to right, #315292, #0d0c1d);
}

.marker-cluster-large {
	background-color: #0d0c1d;
	color: #fff;
}

.marker-cluster-large div {
	font-family: 'Roboto Latin', sans-serif;
	font-weight: bold;
	background-color: #0d0c1d;
}