.map-pin-icon {
    width: 30px;
    height: 30px;
    background-color: #FFBE98;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
}

.map-pin-div-icon {
    border: 0;
    background: none;
}